@import "../../../styles/globalVars.scss";

.section {
    @include background-opacity($primaryPink, 0.2);
    min-height: 400px;
    flex: 1;

    .content {
        margin: auto;

        h4 {
            color: $primaryPink;
            line-height: 40px;
            margin: 30px auto 0 auto;
            
            margin-bottom: 20px;
            text-align: center;
        }
        
        .spinner {
            display: inline-block;
            position: relative;
            width: 20px;
            height: 20px;
          }
          .spinner div {
            box-sizing: border-box;
            display: block;
            position: absolute;
            width: 14px;
            height: 14px;
            margin: 8px;
            border: 8px solid #fff;
            border-radius: 50%;
            animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            border-color: #fff transparent transparent transparent;
          }
          .spinner div:nth-child(1) {
            animation-delay: -0.45s;
          }
          .spinner div:nth-child(2) {
            animation-delay: -0.3s;
          }
          .spinner div:nth-child(3) {
            animation-delay: -0.15s;
          }
          @keyframes spinner {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
        }

        .message {
            color: $primaryPink;
            font-size: 1.2rem;
            margin-top: 100px;
            text-align: center;
        }

        .form {
            height: 100%;
            display: flex;
            flex-direction: column;
            
            margin: auto;
    
            .input, .textarea {
                margin: 10px 0;
                border: none;
                padding: 10px;
                resize: none;
    
                &:focus-visible {
                    outline: none;
                }
                
    
                &::placeholder {
                    color: lightgray;
                    font-weight: 700;
                }

                &.invalid {
                    border: 2px solid red;
                }
            }
    
            .input {
                height: 40px;
            }

            .privacy {
                color: $primaryPink;
                font-size: 1rem;

                .link {
                    color: $pinkThertiary;
                }
            }
    
            .button {
                margin: 10px 0;
                width: 100%;
                border: none;
                background: $primaryPink;
                line-height: 40px;
                color: white;
                text-transform: uppercase;
                cursor: pointer;

                &:disabled {
                    opacity: 0.5;
                    cursor: not-allowed;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .section {
        .content {
            max-width: 300px;
            margin: auto;

            h4 {
                display: flex;
            }

            .message {
                text-align: left;
            }

            .form {
                .input, .textarea {
                    margin: 10px 0;
                }
    
                .button {
                    margin-top: 10px;
                    width: 100px;
                    align-self: flex-end;
                    line-height: 30px;
                }
            }
        }
    }
}
