@import "../../../styles/globalVars.scss";

.section {
    cursor: pointer;
    position: relative;
    min-height: 350px;
    background-color: #f7f7f7;
    padding: 0 0 50px 0;

    .image {
        width: 100%;
        height: auto;
        display: block;
    }

    .button {
        position: absolute;
        bottom: 20px;
        left: calc(50% - 75px);
        right: calc(50% - 75px);
        width: 150px;
        line-height: 30px;
        color: white;
        background-color: #cb6b7f;
        border: none;
        border-radius: 5px;
        font-size: 1.2rem;
    }
}

@media (min-width: 768px) {
    .section {
        .button {
            bottom: 50px;
            left: calc(50% - 125px);
            right: calc(50% - 125px);
            width: 250px;
            line-height: 50px;
            font-size: 1.4rem;
        }
    }
}

