
$primaryPink: #cb6b7f;
$pinkSecondary: #dc98a4;
$grey: #dddedf;
$lightPrimary: #fffcf8;
$lightSecondary: #fcf6ef;
$lightTertiary: #ffe4c2;

$brownPrimary: #603d1b;

$mediumPrimary: #e8dcca;
$mediumSecondary: #e9ddd5;
$mediumTertiary: #d3beb0;

$contrastPrimary: #c55b71;
$contrastSecondary: #a01d2b;
$contrastThertiary: rgb(192, 2, 0);

$contrastGreenPrimary: rgb(146, 212, 106);

$sophisticatedFont: "Great Vibes", cursive;
$sophisticatedCursive: "Sansita Swashed", cursive;
$sophisticatedBold: "Anton", sans-serif;
$normalFont: "Open Sans", sans-serif;

$boxShadow: 3px 3px 5px $contrastPrimary;
$boxShadowHover: 5px 5px 8px $contrastPrimary, -1px -1px $contrastPrimary;
$textShadow: 1px 3px 3px $contrastPrimary;
$textShadowHover: 1px 1px 1px $contrastPrimary;
$borderRadius: 10px;
$border: 1px solid $contrastPrimary;

$textLoopIndex: 1;
$parallaxIndex: 1;
$socialBarIndex: 1;
$extendBtnIndex: 99;
$scrollDownBtnIndex: 99;
$headerIndex: 998;
$modalIndex: 999;
$privacyIndex: 9999999999;
$loaderIndex: 10000000000;

$mobilePortrait: 400px;
$mobileLandscape: 600px;
$tabletPortrait: 768px;
$desktopWide: 1280px;


@mixin background-opacity($color, $opacity: 0.3) {
    background-color: $color; /* The Fallback */
    background-color: rgba($color, $opacity);
}